@page
@model SistemaAcademico.Pages.Alumnos.DeleteModel
@{
}
<input type="hidden" asp-for="Alumno.Id" />

<form method="post">
	<h4>Eliminaras a este alumno:</h4>

	<div>
		<strong>Nombre:</strong> @Model.Alumno.Name
	</div>
	<div>
		<strong>Apellido:</strong> @Model.Alumno.LastName
	</div>
	<div>
		<strong>DNI:</strong> @Model.Alumno.Dni
	</div>
	<div>
		<strong>Email:</strong> @Model.Alumno.Email
	</div>
	<div>
		<strong>Fecha de nacimiento:</strong> @Model.Alumno.DateOfBirth
	</div>
	<br />
	<button type="submit" class="btn btn-danger">Eliminar</button>
	<a asp-page="Index" class="btn btn-secondary">Cancelar</a>
</form>